/*
 * Flockr Social Proof API
 * API for sending product user actions and retrieving social proof
 *
 * OpenAPI spec version: 1.0.0
 * Contact: support@flockr.co
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.io.File;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ImageApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public ImageApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ImageApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for image
     * @param apiKey your api key (required)
     * @param image URL Encoded path to the image to add/overlay social proof messages (required)
     * @param productId the unique ID of the product, must be the same ID as used in product visit (required)
     * @param visitorId A unique id for the visitor (required)
     * @param sessionId A unique id for the session (required)
     * @param host The host name or ip address (optional)
     * @param location the location of the messages in the site/app, e.g. \&quot;PLP\&quot;, \&quot;PDP\&quot;, \&quot;cart\&quot; etc. (optional)
     * @param transparent If transparent is false (default), returns the input image with the social proof ovelayed, if no social proof values exist for the product a 301 redirect is returned. If transparent is true, returns a transparent image to the size of the input image with the social proof message, if no social proof values for the given product a 1x1px transparent image is returned. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call imageCall(String apiKey, String image, String productId, String visitorId, String sessionId, String host, String location, Boolean transparent, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/{apiKey}/image"
            .replaceAll("\\{" + "apiKey" + "\\}", apiClient.escapeString(apiKey.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (host != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("host", host));
        if (image != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("image", image));
        if (productId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("productId", productId));
        if (visitorId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("visitorId", visitorId));
        if (sessionId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sessionId", sessionId));
        if (location != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("location", location));
        if (transparent != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("transparent", transparent));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "image/webp"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call imageValidateBeforeCall(String apiKey, String image, String productId, String visitorId, String sessionId, String host, String location, Boolean transparent, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'apiKey' is set
        if (apiKey == null) {
            throw new ApiException("Missing the required parameter 'apiKey' when calling image(Async)");
        }
        // verify the required parameter 'image' is set
        if (image == null) {
            throw new ApiException("Missing the required parameter 'image' when calling image(Async)");
        }
        // verify the required parameter 'productId' is set
        if (productId == null) {
            throw new ApiException("Missing the required parameter 'productId' when calling image(Async)");
        }
        // verify the required parameter 'visitorId' is set
        if (visitorId == null) {
            throw new ApiException("Missing the required parameter 'visitorId' when calling image(Async)");
        }
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            throw new ApiException("Missing the required parameter 'sessionId' when calling image(Async)");
        }
        
        com.squareup.okhttp.Call call = imageCall(apiKey, image, productId, visitorId, sessionId, host, location, transparent, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * returns an image containing the social proof for the product, Note use https://flockr-cdn.com as the host in production
     * 
     * @param apiKey your api key (required)
     * @param image URL Encoded path to the image to add/overlay social proof messages (required)
     * @param productId the unique ID of the product, must be the same ID as used in product visit (required)
     * @param visitorId A unique id for the visitor (required)
     * @param sessionId A unique id for the session (required)
     * @param host The host name or ip address (optional)
     * @param location the location of the messages in the site/app, e.g. \&quot;PLP\&quot;, \&quot;PDP\&quot;, \&quot;cart\&quot; etc. (optional)
     * @param transparent If transparent is false (default), returns the input image with the social proof ovelayed, if no social proof values exist for the product a 301 redirect is returned. If transparent is true, returns a transparent image to the size of the input image with the social proof message, if no social proof values for the given product a 1x1px transparent image is returned. (optional)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File image(String apiKey, String image, String productId, String visitorId, String sessionId, String host, String location, Boolean transparent) throws ApiException {
        ApiResponse<File> resp = imageWithHttpInfo(apiKey, image, productId, visitorId, sessionId, host, location, transparent);
        return resp.getData();
    }

    /**
     * returns an image containing the social proof for the product, Note use https://flockr-cdn.com as the host in production
     * 
     * @param apiKey your api key (required)
     * @param image URL Encoded path to the image to add/overlay social proof messages (required)
     * @param productId the unique ID of the product, must be the same ID as used in product visit (required)
     * @param visitorId A unique id for the visitor (required)
     * @param sessionId A unique id for the session (required)
     * @param host The host name or ip address (optional)
     * @param location the location of the messages in the site/app, e.g. \&quot;PLP\&quot;, \&quot;PDP\&quot;, \&quot;cart\&quot; etc. (optional)
     * @param transparent If transparent is false (default), returns the input image with the social proof ovelayed, if no social proof values exist for the product a 301 redirect is returned. If transparent is true, returns a transparent image to the size of the input image with the social proof message, if no social proof values for the given product a 1x1px transparent image is returned. (optional)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> imageWithHttpInfo(String apiKey, String image, String productId, String visitorId, String sessionId, String host, String location, Boolean transparent) throws ApiException {
        com.squareup.okhttp.Call call = imageValidateBeforeCall(apiKey, image, productId, visitorId, sessionId, host, location, transparent, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * returns an image containing the social proof for the product, Note use https://flockr-cdn.com as the host in production (asynchronously)
     * 
     * @param apiKey your api key (required)
     * @param image URL Encoded path to the image to add/overlay social proof messages (required)
     * @param productId the unique ID of the product, must be the same ID as used in product visit (required)
     * @param visitorId A unique id for the visitor (required)
     * @param sessionId A unique id for the session (required)
     * @param host The host name or ip address (optional)
     * @param location the location of the messages in the site/app, e.g. \&quot;PLP\&quot;, \&quot;PDP\&quot;, \&quot;cart\&quot; etc. (optional)
     * @param transparent If transparent is false (default), returns the input image with the social proof ovelayed, if no social proof values exist for the product a 301 redirect is returned. If transparent is true, returns a transparent image to the size of the input image with the social proof message, if no social proof values for the given product a 1x1px transparent image is returned. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call imageAsync(String apiKey, String image, String productId, String visitorId, String sessionId, String host, String location, Boolean transparent, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = imageValidateBeforeCall(apiKey, image, productId, visitorId, sessionId, host, location, transparent, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
