/*
 * Flockr Social Proof API
 * API for sending product user actions and retrieving social proof
 *
 * OpenAPI spec version: 1.0.0
 * Contact: support@flockr.co
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Flockr;
import io.swagger.client.model.Product;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProductDetailsApi {
    private ApiClient apiClient;

    public ProductDetailsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProductDetailsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for productVisit
     * @param body Details of the product visit (required)
     * @param apiKey your api key (required)
     * @param flockrDemo append this parameter with the value \&quot;true\&quot; to return demo data for testing (optional)
     * @param flockrFakeData append this value to return demo data of a specific proof type (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call productVisitCall(Product body, String apiKey, String flockrDemo, String flockrFakeData, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/{apiKey}/product/visit"
            .replaceAll("\\{" + "apiKey" + "\\}", apiClient.escapeString(apiKey.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (flockrDemo != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("flockrDemo", flockrDemo));
        if (flockrFakeData != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("flockrFakeData", flockrFakeData));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call productVisitValidateBeforeCall(Product body, String apiKey, String flockrDemo, String flockrFakeData, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling productVisit(Async)");
        }
        // verify the required parameter 'apiKey' is set
        if (apiKey == null) {
            throw new ApiException("Missing the required parameter 'apiKey' when calling productVisit(Async)");
        }
        
        com.squareup.okhttp.Call call = productVisitCall(body, apiKey, flockrDemo, flockrFakeData, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * saves a product visit and returns social proof
     * By passing the details of a product visit, the social proof for that product is updagted, a product visit is counted once per session. The social proof for that product is returned 
     * @param body Details of the product visit (required)
     * @param apiKey your api key (required)
     * @param flockrDemo append this parameter with the value \&quot;true\&quot; to return demo data for testing (optional)
     * @param flockrFakeData append this value to return demo data of a specific proof type (optional)
     * @return Flockr
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Flockr productVisit(Product body, String apiKey, String flockrDemo, String flockrFakeData) throws ApiException {
        ApiResponse<Flockr> resp = productVisitWithHttpInfo(body, apiKey, flockrDemo, flockrFakeData);
        return resp.getData();
    }

    /**
     * saves a product visit and returns social proof
     * By passing the details of a product visit, the social proof for that product is updagted, a product visit is counted once per session. The social proof for that product is returned 
     * @param body Details of the product visit (required)
     * @param apiKey your api key (required)
     * @param flockrDemo append this parameter with the value \&quot;true\&quot; to return demo data for testing (optional)
     * @param flockrFakeData append this value to return demo data of a specific proof type (optional)
     * @return ApiResponse&lt;Flockr&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Flockr> productVisitWithHttpInfo(Product body, String apiKey, String flockrDemo, String flockrFakeData) throws ApiException {
        com.squareup.okhttp.Call call = productVisitValidateBeforeCall(body, apiKey, flockrDemo, flockrFakeData, null, null);
        Type localVarReturnType = new TypeToken<Flockr>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * saves a product visit and returns social proof (asynchronously)
     * By passing the details of a product visit, the social proof for that product is updagted, a product visit is counted once per session. The social proof for that product is returned 
     * @param body Details of the product visit (required)
     * @param apiKey your api key (required)
     * @param flockrDemo append this parameter with the value \&quot;true\&quot; to return demo data for testing (optional)
     * @param flockrFakeData append this value to return demo data of a specific proof type (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call productVisitAsync(Product body, String apiKey, String flockrDemo, String flockrFakeData, final ApiCallback<Flockr> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = productVisitValidateBeforeCall(body, apiKey, flockrDemo, flockrFakeData, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Flockr>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
